@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  div#__next {
    background-color: #191e23;
    color: #fff;
    padding: 0;
    margin: 0;
    /* height: 100%; */
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  }

  a {
    /* cursor: crosshair; */
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  @font-face {
    font-weight: bold;
    font-display: swap;
    font-family: 'Satisfy';
    src: url('/fonts/Satisfy-Regular.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot');
    src: 
    /* url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2')
        format('embedded-opentype'), */ url('/fonts/icomoon.woff')
        format('woff'),
      url('/fonts/icomoon.ttf') format('truetype');
    /* url('fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon')
        format('svg'); */
    font-weight: normal;
    font-style: normal;
  }
}
.prose {
  color: #fff;
  max-width: 80%;
  font-size: 1.2rem;
}

.prose h1,
.prose h3 {
  color: #e6096c;
}

.prose a {
  color: #00b0ed;
}

.prose code {
  color: #fff;
  background-color: #1f2937;
  font-family: monospace;
  font-weight: 100;
}

.text-4xl {
  font-size: 2.75rem /* 36px */;
  line-height: 2.5rem /* 40px */;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-center {
  text-align: center;
}

.navbar {
  height: 80px;
}

.navbarItems {
  @apply px-4 font-mono text-lg font-medium transition-all duration-100 text-secondary hover:text-primaryLight border-primaryTint md:text-2xl md:px-8;
}

.footer {
  @apply px-4 font-mono text-sm transition-all duration-100 text-secondary hover:text-primaryLight border-primaryTint md:text-2xl md:px-8;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

.navbarItems.active {
  @apply border-b-2 text-primaryShade;
}

img.sm\:max-w-xs {
  max-width: 22rem;
}

/* ================= */

.social-networks {
  margin: 0 0 35px;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.social-networks li {
  display: inline-block;
}
.social-networks a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 68px;
  height: 68px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}
.social-networks a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 100px;
  background-color: #1f2027;
  transition: all 400ms;
}
.social-networks a:after {
  position: relative;
  display: block;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  font-size: 26px;
  line-height: 66px;
}
.social-networks a:hover,
.social-networks a:focus {
  text-decoration: none;
}

.social-networks.bounce a:hover,
.social-networks.bounce a:focus {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}
.social-networks .icon-linkedin:after {
  content: '';
}
.social-networks .icon-linkedin:hover::after,
.social-networks .icon-linkedin:focus::after {
  color: #0077b5;
}
.social-networks .icon-linkedin:hover::before,
.social-networks .icon-linkedin:focus::before {
  background-color: black;
}
.social-networks .icon-twitter:after {
  content: '';
}
.social-networks .icon-twitter:hover::after,
.social-networks .icon-twitter:focus::after {
  color: #00b0ed;
}
.social-networks .icon-twitter:hover::before,
.social-networks .icon-twitter:focus::before {
  background: #000000;
}
.social-networks .icon-github:after {
  content: '';
}
.social-networks .icon-github:hover:before,
.social-networks .icon-github:focus:before {
  background: white;
  opacity: 0.8;
}
.social-networks .icon-github:hover:after,
.social-networks .icon-github:focus:after {
  color: black;
}

.social-networks .icon-mail:after {
  content: '🖂';
  font-weight: 900;
}
.social-networks .icon-mail:hover:before,
.social-networks .icon-mail:focus:before {
  background: white;
  opacity: 0.8;
}
.social-networks .icon-mail:hover:after,
.social-networks .icon-mail:focus:after {
  color: black;
}

.social-networks .icon-instagram:after {
  content: '';
}
.social-networks .icon-instagram:hover:before,
.social-networks .icon-instagram:focus:before {
  /* background: radial-gradient(red, pink); */
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  opacity: 0.8;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.social-networks .icon-instagram:hover:after,
.social-networks .icon-instagram:focus:after {
  color: #fff;
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -6px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -4px, 0);
  }

  90% {
    transform: translate3d(0, -2px, 0);
  }
}
